<%if (matchAns.length > 1) {%>
    <div class="container">
      <div class="row">
        <form class="col-auto" id="cluesForm"  method="POST" action="/searchClues">
          <button id="findClues"  type="submit" class="btn" style="background-color: #6c757d; color: white;">Find Clues</button>
          <input type="hidden" display="hidden" name="ansId" id="key" value="0"/>
        </form>
        <div class="buttons-toolbar col-auto"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
            <table id="table" data-buttons-toolbar=".buttons-toolbar" data-checkbox-header="false" data-click-to-select="true" data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true">
              <thead>
                <tr>
                  <th data-checkbox="true">Selected</th>
                  <th data-field="id" data-sortable="true">ID</th>
                  <th data-sortable="true">Answer Line</th>
                  <th data-sortable="true">Frequency</th>
                </tr>
              </thead>
              <tbody>
                <% for (var i =0; i <matchAns.length; i++ ) { %>
                  <tr>
                    <td> </td>
                    <td><%- matchAns[i].id %></td>
                    <td><%- matchAns[i].answer %></td>
                    <td><%- matchAns[i].size %></td>
                  </tr>
                <% } %>  
              </tbody>
            </tbody>
          </table>
        </div>
      </div>
  </div>
<% } %>