<%if (Clues.length > 1) {%>
<hr />
<%- include('../partials/firstLineTable'); %>
<hr />
<%- include('../partials/midLineTable'); %>
<hr />
<%- include('../partials/lastLineTable'); %>
<hr />

<div>
  <input type="hidden" display="hidden" name="first" id="firstLine" value="0" />
  <input type="hidden" display="hidden" name="mid" id="midLine" value="0" />
  <input type="hidden" display="hidden" name="last" id="lastLine" value="0" />
  <input type="hidden" display="hidden" name="ans" id="ansLine" value="0" />
  <div class="row justify-content-center">
    <button
      id="findClues"
      data-bs-toggle="modal"
      data-bs-target="#addModal"
      class="btn btn-primary"
    >
      Generate Question
    </button>
  </div>
</div>

<% } %>
