<optgroup label="Science">
    <option selected value="1">Biology</option>
    <option value="2">Chemistry</option>
    <option value="3">Physics</option>
    <option value="4">Math</option>
    <option value="5">Astronomy</option>
    <option value="6">Computer Science</option>
    <option value="7">
      Earth, Ocean and Atmospheric Science
    </option>
  </optgroup>
  <optgroup label="Literature">
    <option value="8">Long Fiction</option>
    <option value="9">Drama</option>
    <option value="10">Poetry</option>
    <option value="11">Short Fiction</option>
    <option value="12">Other</option>
  </optgroup>
  <optgroup label="Fine Arts">
    <option value="13">Painting and Sculpture</option>
    <option value="14">Classical Music</option>
    <option value="15">Other</option>
  </optgroup>
  <optgroup label="RMPSS">
    <option value="16">Religion</option>
    <option value="17">Mythology</option>
    <option value="18">Philosophy</option>
    <option value="19">Economy</option>
    <option value="20">Psychology</option>
    <option value="21">Other</option>
  </optgroup>
  <optgroup label="History">
    <option value="22">US History</option>
    <option value="23">European History</option>
    <option value="24">European Ancient</option>
    <option value="25">World History</option>
  </optgroup>
  <optgroup label="Other">
    <option value="26">Geography</option>
    <option value="27">Popular Culture</option>
    <option value="28">Current Events</option>
  </optgroup>