<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Questions</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form id="updateForm" method="POST" action="/update">
          <div class="modal-body">
            <div class="input-field col s12">
              <input type="hidden" id="idh" name="idHold" />
            </div>
            <div class="input-field col s12">
              <textarea
                id="textarea1"
                name="Question"
                class="materialize-textarea"
              ></textarea>
              <label for="textarea1" class=""></label>
            </div>
            <div class="form-floating">
              <select
                class="form-select"
                name="category"
                id="floatingSelect2"
                aria-label="Category selector"
                style="padding-bottom: 0.5rem !important;"
              >
              <%- include('../partials/optGroupPartial'); %>
              </select>
              <label for="floatingSelect2">Category</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="appCheck"
              />
              <input id="impApp" type="hidden" name="App" value="0" />
              <label class="form-check-label" for="appCheck">
                Approval
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <input type="submit" class="btn btn-primary" />
          </div>
        </form>
        <form
          id="deleteQuestion"
          method="POST"
          action="/delete"
          style="margin: 0.1em"
        >
          <input id="deleteM" name="deleteId" type="hidden" value="0" />
          <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
      </div>
    </div>
  </div>